{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>    
<div class="card" style="width: 18rem;">
    <img src="{% static '1.jpg' %}" class="card-img-top" alt="i.img.src">
    <div class="card-body">
      <h5 class="card-title">공종훈 짱짱</h5>
      <p class="card-text">잘생김</p>
      <a href="{% url 'main' %}" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</body>
</html>